<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PRACTICA 16</title>
</head>
<body>
    <!-- Incluye el header -->
{% include 'head/header.html' %}

<!-- Inicia a mostrar datos segun la url y siempre muestra el h1-->
    <h1>Index del proyecto</h1>

    <!---IMPORTANTE EL  href="{% url 'alumno' %}" hace referencia a una url con el nombre alumno -->
    <a href="{% url 'alumno' %}">Ir a la página de alumnos</a>
    <br>
    <a href="{% url 'teacher' %}">Ir a la página de profesores</a>
    
{% block content %}
{% endblock %}


</body>
</html>